div(id="success" class="alert alert-success alert-dismissible hide" role="alert")
    strong You nailed it!
    button(type="button" class="close" onclick="document.getElementById('success').classList.add('hide')" aria-label="Close")
      span(aria-hidden="true") &times;
div(id="gameover" class="alert alert-danger alert-dismissible fixed-bottom hide" role="alert")
    strong 3rd time is a charm! Try harder... 
    button(type="button" class="close" onclick="document.getElementById('gameover').classList.add('hide')" aria-label="Close")
      span(aria-hidden="true") &times;