nav(class="navbar navbar-default navbar-fixed-bottom")
      div(class="container-fluid footer")
        p#contact 310.876.9607 | iamyanhu@gmail.com | LinkedIn: yanhu1| Github: yanhackcode15 | Codewars: yanhackcode15