body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* { 
	padding: 0; 
	margin: 0; 
}

@media (min-width: 992px) {
  .container {
    width: 750px !important;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 750px !important;
  }
}

.container { 
	/*background: #8A458A; */
	/*position: relative;*/
	display: block;
	margin: auto; 
	top: 50px;
	margin-bottom: 50px;
	height: 100%;
	overflow: hidden;
}

.overlay {
	margin: auto;
	opacity: 1;
	display: flex;
}
canvas {
	z-index: -1;
	margin: auto;
	display: block;
	border: 1px black solid;
	background:url(images/cover.png);
	background-size: 500px 300px;
}

.text {
	padding: 30px 50px 0px 50px;
}

.hide {
	display: none;
}

.footer {
	display: inline-flex;
}

#contact {
	margin: auto;
}

.alert {
	z-index: 2000;
}
ul {
	list-style-position: inside;
}

xxx.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes xxxtyping {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}

.alert {
	position: fixed;
	bottom: 50px;
	width: 95%;
	margin-bottom: 0px;
}

#instructions h2 {
  white-space: nowrap;
  letter-spacing: .15em;
  margin-bottom: 10px;
}

.blink-caret {
	border-right: .15em solid orange;
	animation: blink-caret .75s step-end infinite;
}

.alert-dismissable .close, .alert-dismissible .close {
	right: -5px;
}
h2 {
	/*border-bottom: 2px solid black;*/
	box-shadow: 0px 5px 20px #B8C1BE;
	padding: 10px;
	background-color: #B8C1BE;
	color: white !important;

}

h4 {
	padding-top: 10px;
}
